.profile {
  margin: 0 0 0 30px;
  /* display: inline-block; */
  float: left;
}
@media only screen and (max-width: 390px) {
  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.name {
  font-size: 50px;
  font-family: "Optima";
  color: rgb(76, 212, 190);
}
.picture {
  border-radius: 50%;
  /* border: 5px solid rgb(204, 111, 204); */
  height: 250px;
  width: 260px;
  margin: 0 0 20px 0;
}

button {
  border-radius: 5px;
  border-color: rgb(76, 212, 190);
  border-width: 3px;
  margin: 0 10px 0 5px;
  font-family: bold "Optima";
}

.projects {
  /* display: inline-flex; */
  float: left;
  margin: 35px 0 0 125px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 5px solid rgb(76, 212, 190);
  padding: 0 20px 20px 20px;
}
@media only screen and (max-width: 390px) {
  .projects {
    float: left;
    margin: 0;
  }
}
