/* .profile {
  margin: 0 0 0 30px;
  float: left;
}
@media only screen and (max-width: 390px) {
  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.name {
  font-size: 50px;
  font-family: "Optima";
  color: rgb(76, 212, 190);
}

.username {
  display: flex;
  justify-content: center;
  margin: -40px 0 20px 0;
  font-size: 20px;
}

@media only screen and (max-width: 390px) {
  .username {
    text-align: center;
    margin: -40px 0 20px 0;
  }
}

.picture {
  border-radius: 50%;
  height: 250px;
  width: 270px;
  margin: 0 0 20px 0;
}

.aboutMe {
  overflow-wrap: break-word;
  width: 290px;
  margin: 0.3em;
  font-family: "Arial";
}

button {
  border-radius: 5px;
  border-color: rgb(76, 212, 190);
  border-width: 3px;
  margin: 0 10px 0 5px;
  font-family: bold "Optima";
}

.projects {
  float: left;
  margin: 5px 0 0 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 5px solid rgb(76, 212, 190);
  padding: 0 100px 20px 20px;
  max-height: 660px;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
@media only screen and (max-width: 390px) {
  .projects {
    float: left;
    width: auto;
    margin: 20px 0px 20px 0px;
    padding: 0 20px 20px 20px;
  }
}

.description {
  overflow-wrap: break-word;
  width: 700px;
  font-family: Arial, Helvetica, sans-serif;
}
.video {
  width: 700px;
  height: 400px;
}

@media only screen and (max-width: 390px) {
  .video {
    padding-top: 10px;
    width: 350px;
    height: 225px;
  }
} */

* {
  padding: 0;
  margin: 0 2px;
  color: rgb(0, 0, 0);
}

/* TARGETS THE ENTIRE APP */
.app {
  /* max-width: 1060px; */
  border: solid 5px rgb(9, 163, 138);
  display: grid;
  grid-template-columns: 1fr 0.3fr;
}

/* TARGETS THE ENTIRE PROFILE */
.profile {
  margin: 10px 20px;
  padding: 10px;
  font-family: "Optima";
  font-size: 30px;
  background-color: rgb(122, 219, 203);
  border: solid 5px rgb(9, 163, 138);
  text-align: center;
}

.picture {
  height: 350px;
  width: 420px;
  padding: 20px 0;
}

.aboutMe {
  font-family: Arial, Helvetica, sans-serif;
  overflow-wrap: break-word;
  width: 400px;
  font-size: 18px;
}

/* TARGETS THE ENTIRE SECTION OF PROJECTS (CONTAINER FOR PROJECTS) */
.projects {
  text-align: center;
  overflow-y: scroll;
  overflow-x: auto;
  height: 900px;
  font-size: 20px;
}

h2 {
  margin-top: 30px;
  font-size: 50px;
}

.video {
  width: 800px;
  height: 500px;
}

button {
  border-radius: 5px;
  border: solid 3px rgb(9, 163, 138);
  padding: 3px;
  font-family: bold "Optima";
  margin: 0 5px;
}
