.name {
  font-size: 50px;
  font-family: "Optima";
  color: rgb(76, 212, 190);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.picture {
  border-radius: 50%;
  height: 250px;
  width: 260px;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  border-radius: 5px;
  margin: 0 10px 0 0;
  font-family: bold "Optima";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
